[package]
name = "kfs"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "kfs"
test = true
bench = false

[features]
test-utils = []

[dependencies]
bitstruct = { git = "https://github.com/winstonallo/bitstruct.git", version = "0.1.0" }
