name: Check formatting

on:
    workflow_dispatch:

    push: &on_config
        branches: ["**"]
        paths:
            - src/**
            - tests/**
            - Cargo.toml
            - Cargo.lock
            - .github/workflows/rustfmt.yml
            - "*.py"
            - "*.sh"

    pull_request:
        <<: *on_config

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: Rust project - latest
        runs-on: ubuntu-latest
        container: ghcr.io/kentucky-fried-kernel/kfs-test-runner
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
            - run: rustup component add rustfmt
            - run: cargo fmt -- --check
