name: Run tests

on:
    workflow_dispatch:

    push: &on_config
        branches: ["**"]
        paths:
            - src/**
            - tests/**
            - Cargo.toml
            - Cargo.lock
            - .github/workflows/test.yml
            - "*.py"
            - "*.sh"

    pull_request:
        <<: *on_config

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        timeout-minutes: 10
        name: Rust project - latest
        runs-on: ubuntu-latest
        container: ghcr.io/kentucky-fried-kernel/kfs-test-runner
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
            # We cannot use 'ld' directly in the build process, since MacOS has a different
            # version of 'ld' and needs to install a port called 'i386-elf-ld'.
            - run: cp $(which ld) /usr/bin/i386-elf-ld
            # - run: make test
